@model Casino.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div class="form-container">
    @using (Html.BeginForm("Login", "Casino", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "validation-message" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password ,"", new { @class = "validation-message" })
        </div>
        <input type="submit" name="login" value="Login" class="btn btn-primary" />
    }
    <hr />
    @using (Html.BeginForm("Register", "Casino", FormMethod.Post))
    {
        <input type="submit" name="register" value="Register" class="btn btn-success" />
    }
    @using (Html.BeginForm("Clear", "Casino", FormMethod.Post))
    {
      <input type="submit" name="Clear" value="Clear" class="btn btn-success" />
    }
</div>
